DATABASE_URL="sqlite:///./hr_avatar.db"

SECRET_KEY="<твоя_секретная_строка>"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

YC_API_KEY_ID="<ID_твоего_API-ключа_от_Yandex_Cloud>"
YC_API_KEY_SECRET="<Секрет_твоего_API-ключа_от_Yandex_Cloud>"
YC_SERVICE_ACCOUNT_ID=""
YC_KEY_ID=""