DATABASE_URL="sqlite:///./hr_avatar.db"

SECRET_KEY="<твоя_секретная_строка>"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

SCREENING_THRESHOLD=60
MAX_IRRELEVANT_ANSWERS=2
CANDIDATE_SILENCE_TIMEOUT_SECONDS=15.0
MAX_SILENCE_PROMPTS=3
WEBSOCKET_RECEIVE_TIMEOUT_SECONDS=1.5
MAX_SILENCE_ITERATIONS_BEFORE_BREAK=3
YANDEX_STT_EOU_PAUSE_MS=3000

YC_API_KEY_ID="<ID_твоего_API-ключа_от_Yandex_Cloud>"
YC_API_KEY_SECRET="<Секрет_твоего_API-ключа_от_Yandex_Cloud>"
YC_SERVICE_ACCOUNT_ID=""
YC_KEY_ID=""
YC_FOLDER_ID=""
YC_SA_KEY_FILE_PATH="authorized_key.json"

SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAIL_SENDER=
MAX_INTERVIEW_DURATION_SECONDS=1200
